#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.container {
  text-align: center;
}
.home-container {
  padding: 20px; 
  text-align: justify;
}
h1 {
  margin-bottom: 30px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

form { 
  margin-top: 40px ;
}

table {
  margin-top: 40px;
}

.text {
  text-align: justify; 
}
.list {
  margin-bottom: 20px;
}

.list li {
  margin-bottom: 0.5rem; 
}
